.loading {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.loading-icon {
  animation: rotation 1s infinite;
  font-size: 1.5em;
  color: purple;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
