.header {
  height: 10vh;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin-left: 20px;
  color: purple;
  font-size: 24px;
  font-weight: bold;
}

.header-logo:hover {
  cursor: pointer;
  color: rgb(85, 0, 85);
  transition: 0.25s;
}

.header-actions {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.header-btn {
  background-color: transparent;
  color: purple;
  font-size: 15px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid purple;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.header-btn:hover {
  cursor: pointer;
  color: white;
  background-color: purple;
  transition: 0.3s;
}

.header-profile-picture {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  margin-left: 20px;
  display: none;
  overflow: hidden;
  border: 1px solid purple;
}

.header-profile-picture:hover {
  cursor: pointer;
}
