.create-post {
  border-bottom: 1px solid lightgray;
}

.create-post-button {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid purple;
  margin: 10px;
  font-size: 10px;
}

.create-post-button:hover {
  cursor: pointer;
}

.create-post-form {
  border-radius: none;
  box-shadow: none;
  margin: 20px;
  margin-top: 0px;
  padding: 0px;
}

.create-post p {
  font-weight: normal;
  color: rgb(100, 100, 100);
  margin: 0px 20px 10px 20px;
  font-size: 12px;
}

.create-post-form input {
  display: block;
  margin-top: 10px;
}

.create-post-form textarea {
  position: relative;
  border-radius: 0px;
  top: 10px;
  padding: 5px;
  width: 160px;
  height: 50px;
  border: 1px solid lightgray;
}

.create-post-form textarea:focus {
  outline: none;
}

.create-post-submit-button {
  margin-top: 10px;
  background: linear-gradient(
    40deg,
    rgba(94, 139, 255, 1) 16%,
    rgba(255, 0, 164, 1) 91%
  );
  border: 0px;
  padding: 8px;
  color: white;
  border-radius: 20px;
}

.create-post-submit-button:hover {
  cursor: pointer;
}
