.edit-profile {
  min-height: calc(90vh - 1px);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}
.picture-changer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-changer-image-container {
  height: 170px;
  width: 170px;
  overflow: hidden;
  border-radius: 16px;
  margin: 20px;
}

.edit-other-information {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.edit-other-information label p {
  font-weight: normal;
  margin-top: 3px;
  margin-bottom: 3px;
}

.form-btns {
  display: flex;
  justify-content: space-between;
}

.edit-other-information button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 15px;
}

.edit-other-information button:hover {
  cursor: pointer;
}

.invalid-user-warning {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(90vh - 1px);
}

.warning-icon {
  font-size: 5em;
  display: block;
  color: crimson;
}

.bad-update-icon {
  font-size: 40px;
  color: crimson;
  margin-right: 5px;
}

.success-icon {
  font-size: 40px;
  color: rgb(0, 255, 76);
  margin-right: 5px;
}

.bad-update-warning-wrapper {
  font-size: 12px;
  width: 160px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid crimson;
  display: flex;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.1);
  animation: popup 1s 2;
}

.success-wrapper {
  font-size: 12px;
  width: 160px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid rgb(0, 255, 76);
  display: flex;
  align-items: center;
  background-color: rgba(0, 255, 76, 0.1);
  animation: popup 1s 2;
}

@keyframes popup {
  0% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-4deg);
  }

  100% {
    transform: rotate(2deg);
  }
}
