.user-profile {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  min-height: 100vh;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.profile-header {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: 16px;
}

.user-profile-picture {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.user-profile-credentials {
  margin-left: 16px;
}

.user-profile-full-name {
  font-size: 32px;
  font-weight: bold;
  color: purple;
}

.user-profile-username {
  font-size: 12px;
  color: rgb(129, 129, 129);
  padding-bottom: 4px;
}

.user-profile-stores-owned {
  font-size: 20px;
  color: rgb(83, 83, 83);
}

.user-profile-contacts {
  padding-top: 4px;
  border-top: 1px solid lightgray;
  font-weight: bold;
  color: crimson;
}

.user-profile-contacts div {
  color: rgb(83, 83, 83);
  font-weight: normal;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.user-profile-contacts div:hover .icons {
  transform: rotate(360deg);
  transition: 0.5s;
}

.profile-stores-wrapper {
  padding: 16px;
}

.profile-stores-header {
  color: crimson;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 16px;
}

.profile-stores {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.icons {
  margin-right: 5px;
  color: rgb(54, 54, 54);
  font-size: 12px;
}

.empty-array-warning {
  color: rgb(83, 83, 83);
}

.edit-profile-btn {
  display: block;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 15px;
}

.edit-profile-btn:hover {
  cursor: pointer;
}
