@media screen and (max-width: 1300px) {
  .dashboard {
    flex: 0.4;
  }

  .left-navbar {
    flex: 0.3;
  }
}

@media screen and (max-width: 1000px) {
  .left-navbar {
    display: none;
  }

  .dashboard {
    flex: 0.8;
  }

  .header-btn {
    padding: 5px;
  }
}

@media screen and (max-width: 700px) {
  .dashboard {
    flex: 1;
  }

  .store-profile-header {
    flex-direction: column;
  }

  .store-profile-creds {
    margin-left: 0px;
  }
}

@media screen and (max-width: 400px) {
  .post-content {
    display: block;
  }
}
