.store-card {
  padding: 10px;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 10px 0px rgba(105, 105, 105, 1);
  border-radius: 5px;
}

.store-card:hover {
  background-color: rgba(189, 0, 189, 0.062);
  cursor: pointer;
}

.store-card-picture {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.store-card-details {
  margin-left: 10px;
}

.store-card-location-city {
  font-size: 15px;
  color: rgba(105, 105, 105, 1);
}

.store-card-location-address {
  font-size: 15px;
  color: rgba(105, 105, 105, 1);
}

.store-card-name {
  font-size: 25px;
  font-weight: bold;
  color: #5e8bff;
}

.store-card-icon {
  color: purple;
}
